.navbar{
    background-color: transparent !important;
}

.navbar-brand{
    color:white !important;
}

.page-title{
    display:inline-block;
    padding-left:10px;
    font-size:28px;
}

.logo{
    margin-bottom:10px;
}

.form-control {
    width:400px !important;
}

.profile{
    position: relative;
    display: inline;
    color:white;
}

.pic{
    width: 240px;
    height: 320px;
    border: 4px solid white;
}

h1{
    font-size: 72px;
    font-weight: bold;
}

h2{
    font-size: 48px;
    /*font-style: italic;*/
    font-weight:100;
}

h3{
    font-size: 36px;
    /*font-weight: bold;*/
    font-weight:100;
}

.profile-container {
    margin-top:30px;
}
main h2{
    color:white;
    margin-bottom:30px;
}
#content-div{
    margin-top:80px;
}
#content-div::before{
  content: "";
  background: url("../images/Error.png");
  background-position: center;
  background-size: cover;
  /* opacity: 0.9; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;


}
